In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
raw_data = pd.read_csv('electricitypricesuk.csv')

In [3]:
raw_data

           Date  ElectPrice   OilPrice   GasPrice
0    01/06/2010        42.18      74.76       2.01
1    01/07/2010        43.53      75.58       1.99
2    01/08/2010        39.95      77.04       1.94
3    01/09/2010        41.12      77.84       1.97
4    01/10/2010        43.50      82.66       2.16
..          ...          ...        ...        ...
124  01/10/2020        44.65      40.19       1.20
125  01/11/2020        46.83      42.69       1.19
126  01/12/2020        59.57      49.99       1.36
127  01/01/2021        90.94      54.77       1.56
128  01/02/2021        56.46      62.28       1.76

[129 rows x 4 columns]

In [4]:
data = raw_data.copy()

In [5]:
data.describe()

       ElectPrice    OilPrice    GasPrice
count   129.000000  129.000000  129.000000
mean     45.930233   75.783488    2.060930
std       9.064859   27.812875    0.642254
min      24.010000   18.380000    0.590000
25%      40.910000   52.310000    1.560000
50%      44.960000   67.220000    1.920000
75%      50.270000  107.790000    2.740000
max      90.940000  125.450000    3.270000

In [6]:
y = data['ElectPrice']
x1 = data[['OilPrice','GasPrice']]

KeyError: 'ElectPrice'